name: reviewdog
on: [pull_request]

jobs:
  coffeelint:
    name: runner / coffeelint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: coffeelint-github-pr-check
        uses: ./
        with:
          reporter: github-pr-check
          coffeelint_flags: 'test/'

      - name: coffeelint-github-check
        uses: ./
        with:
          reporter: github-check
          level: warning
          coffeelint_flags: 'test/'

      - name: coffeelint-github-pr-review
        uses: ./
        with:
          reporter: github-pr-review
          coffeelint_flags: 'test/'
